#banner-container{
    background-image: url("../../../assets/banner-bg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
   border-radius: 650px;
}
#banner{
   
        background: linear-gradient(90deg, #1FD8B6 10.14%, #12BADF 49.71%, #C5018E 84.62%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}
#second-section{
    background-image: url("../../../assets/transaction-bg.png");
        background-repeat: no-repeat;
        background-position:  left;
        background-size: cover;
        border-radius: 650px;
}
.secure-card:hover, .balance-card:hover, .rewards-card:hover{
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%) !important;
    cursor: pointer;
}